.separador {
	background-color: initial;
	background-image: linear-gradient(90deg, transparent, #ffc107, transparent);
	border: 0;
	height: 0.1rem !important;
	max-width: 100%;
	opacity: 1;
	margin: 45px 0;
}
